.textarea-code {
    padding: 2px 5px;
    border: 1px solid #ccc;
    width: 100%;
    resize: none;
    font-size: 12px;
    height: 30px;
}

.widget-options td {
    vertical-align: top;
}
.widget-options input {
    /*font-size: smaller !important;*/
    text-align:left;
    margin-right:3px;
    margin-bottom:3px;
    padding:6px 10px;
}
#widget-options-page .widget-options select {
    /*font-size:smaller;*/
    text-align:left;
    width:150px;
}
.widget-options label {
    margin-right:2px;
    white-space: nowrap;
}
.widget-options td:first-child {
    font-weight:bold;
}
.widget-options-subsection {
    border: 1px solid #ccccff;
    padding: 1px 0px 1px 2px;
    background-color: #fefefe;
    margin: 0 0 10px;
    font-size: 0.95em;
}
.widget-options-subsection h4 {
    margin: 0;
    padding-bottom: 0px;
    display:inline-block;
}
h3.hndle {
    margin: 0 10px;
    padding: 2px 0;
}
.widget-options table {
    width:100%;
}
.widget-options td:nth-child(1) {width:60px;}
.widget-options td:nth-child(2) {width:5px;}
.widget-options .admin-stock-choices {
    text-align:left;
    width:100%;
}

.widget-options-subsection .section-options-display{
    margin-bottom:1px;
} 
.widget-options-subsection .section_toggle{
    cursor:pointer;
    text-align: center;
    margin-bottom: 0px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border:1px solid black;
    padding:0;
    display: inline-block;
}

#category_toggle{
    display: inline-block;
    cursor:pointer;
    text-align: center;
    margin: 0px 0px 0px 3px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border:1px solid black;
}
