#sp-options-page h1 {
    display: inline-block;
}

.textarea-code {
    padding: 2px 5px;
    border: 1px solid #ccc;
    width: 100%;
    resize: none;
    font-size: 12px;
    height: 30px;
}

.sp-warning {color: red;}
.sp-notice {color: #ffba00;}

#sp-options-page {
    width: 850px;
}

#sp-preview {
    display:block; 
    clear:both; 
    width:818px; 
    margin-top:20px;
}

#sp-form-div {
    width: 50%; 
    margin-right: 10px; 
    clear:left;
}

#sp-cat-stocks-div {
    width: 45%; 
    clear: right;
}

#sp-options-page .color_q {
    text-decoration: none;
}

#sp-options-page input.itxt {
    font-size: 14px;
    text-align: center;
    width: 100px;
}

#sp-options-page input.shortcode_name {
    font-size: 1em;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

#sp-cat-stocks-div input {
    font-size: 14px;
    text-align: left;
}

.sp-options input {
    text-align:left;
    margin: 4px;
    padding:6px 10px;
}
#sp-options-page .sp-options select {
    text-align:left;
    width:150px;
}
.sp-options label {
    margin-right:2px;
    white-space: nowrap;
}

.section-options-display {
    margin-top: 2px;
    padding-top: 5px;
    border-top: 1px solid #ccccff;
}
.sp-options-subsection {
    border: 1px solid #ccccff;
    padding: 1px 0px 1px 2px;
    background-color: #fefefe;
    margin: 0 0 10px;
    font-size: 0.95em;
}
.sp-options-subsection h4 {
    margin: 0;
    padding-bottom: 0px;
    display:inline-block;
}
h3.hndle {margin: 0 10px;padding: 2px 0;}

.sp-options table {width:100%;}
.sp-options .admin-stock-choices {
    text-align:left;
    width:100%;
}

.sp-options-subsection .section-options-display{margin-bottom:1px;} 

.sp-options-subsection td:first-child {
    text-align: center;
    width: 100px;
    padding-right:10px;
}

/* this is specifically referring to the 3rd column, 'is default sort' on the Display Config */
.sp-options-subsection #widgetsec\[3\] + .section-options-display td:nth-child(3) {text-align:center;}


.sp-options-subsection table {border-collapse: collapse;}
.sp-options-subsection tr td {padding: 4px;}
tr.border-top {border-top: 1px solid lightgray;}

.sp-options-subsection .section_toggle, #sp-cat-stocks-div .section_toggle{
    cursor:pointer;
    text-align: center;
    margin: 0px 0px 0px 3px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border:1px solid black;
    padding:0;
    display: inline-block;
}

 a.submitdelete {
    color:#a00;
    text-decoration:none;
    padding:5px;
    float:right;
}

 #publishing-actions {
    padding: 10px;
    border: 1px solid #ddd;
    background: #f5f5f5;
}

#sp-options-page #referrers {margin-bottom: 0px;}
input.color_input{padding: 2px;}

#sp-list-table-page input.shortcode {width: 400px;text-align: center;}
#sp-list-table-page input.stocklist {width: 100%;}
#sp-list-table-page .relevad-plugins_page_stock_widget_list {min-width: 1080px;}
#sp-list-table-page .column-name {width:200px;}
#sp-list-table-page .column-height, #sp-list-table-page .column-width {width:80px;}
#sp-list-table-page .column-display_number {width:50px;}
#sp-list-table-page .column-shortcode {width:400px;}
label[for=shortcode-hide] {display:none;}

#layout_radio_buttons{width:100%;}
#layout_radio_buttons td{text-align:center;width:25%;}
#sp-options-page input:disabled {opacity:0.2;}
#sp-options-page label.label_disabled {opacity:0.2;}
